<div class="dashboard-container" >
  <header class="top-bar">
    <div class="user-profile" *ngIf="currentUser">
      <div class="user-info" (click)="toggleDropdown()">
        <div class="profile-image">
          <img [src]="currentUser.avatar" [alt]="currentUser.name">
        </div>
      </div>
      <div class="dropdown-menu" *ngIf="showDropdown">
        <div class="dropdown-item" (click)="logout()">Cerrar Sesión</div>
      </div>
    </div>
  </header>
  <div class="content">
  
    <main>
      <router-outlet></router-outlet>
    </main>
  </div>
</div>